*{
    margin: 0px;
    padding: 0px;
}
.l1{
   text-align: center;
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    display: inline-block;
    align-items: center;
    vertical-align: top;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 10px;

}
.box-1{
    background-color: rgb(77, 179, 179);
    box-shadow: 10px 10px 10px;
}
.box-2{
    background-color: rgb(228, 180, 23);
    box-shadow: 10px 10px 10px;
}
.box-3{
    background-color: rgb(168, 10, 10);
    box-shadow: 10px 10px 10px;
}
.box-4{
    background-color: rgb(105, 14, 224);
    box-shadow: 10px 10px 10px;
}
.box-5{
    background-color: rgb(23, 204, 228);
    box-shadow: 10px 10px 10px;
}
.box-6{
    background-color: rgb(77, 179, 179);
    box-shadow: 10px 10px 10px;
}
p{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    color: white;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40%;
}
h1{
    text-align: center;
}
