body{
    background-color: rgb(84, 125, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: 'waltograph', cursive;
    font-size: 9em;
    color: rgb(255, 255, 255);
}
@font-face {
    font-family:'waltograph' ;
    src: url(../fonts/Walter.ttf);
}