.img-100 {
    width: 550px;
    padding-left: 50px;
    height: 500;
}.box-dog{
    display: inline-flex;
}
.box-dog1{
    display: inline-flex;
}
h1,h2{
    text-align: center;
}
.img-perro2{
    height: 410px;
    width: 550px;
}
.texto {
    text-align: center;
}
p{
    text-align: justify;
}
.left{
    width: 33em;
    padding-left: 50px;
}
.text{
    width: 33em;
    padding-left: 50px;
}
.img-perro3{
    height: 500px;
    width: 550px;
    padding-left: 50px;
}
.img-perro4{
    height: 500px;
    width: 550px;
    padding-left: 50px;
}
.img-perro5{
    height: 500px;
    width: 550px;
    padding-left: 50px;
}
.text1{
    text-align: justify;
        width: 33em;
        padding-left: 50px;

}