.img-100 {
    width: 100%;
    padding-left: 50px;
}.box-dog{
    display: inline-flex;
}
.box-dog1{
    display: inline-flex;
}
h1,h2{
    text-align: center;
}
.img-perro{
  height: 500px;
  width: 550px;

}
.img-perro1{
    height: 500px;
    width: 550px;
  }
.img-perro2{
    height: 500px;
    width: 600px;
}
.texto {
    text-align: center;
}
.perros {
    text-align: center;
}

p{
    text-align: justify;
}
.left{
    width: 33em;
    padding-left: 50px;
}
.text{
    width: 33em;
    padding-left: 50px;
}
.img-perro3{
    height: 500px;
    width: 550px;
}
.img-perro4{
    height: 500px;
    width: 550px;
}
.img-perro5{
    height: 500px;
    width: 600px;
}
